*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

#blackbar {
	background-color: black;
	height: 135px;
	padding-bottom:5px;
	border-bottom: 5px solid white;
	
}

#blackbar #logo {
	width:1180px;
	height:130px;
	margin:0 auto;	
}

#placeholder {
	position:absolute ;
    height: 78px;
	width: 125px;
    /*border: 2px white dotted;*/
    top: 27px;
    left: 102px;
	/*background-image: url("logo_Xangati.gif");*/
	/*background-size: cover;*/
    
}

.pure-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.subnav {
    opacity: .5        
}

.subnav:hover {
    opacity: 1.0
}

/* ------------JUMBOTRON SECTION ---------------*/

#jumbotron_container_background {
	height:423px;	
	margin: 0 auto;
	/*background-color:steelblue;*/
	background : linear-gradient(dodgerblue, black);
    background-image: url("bg_LaunchPage2.jpg");
/*	opacity: 0.9;*/
}

#jumbotron_cont_overlay {
	height:423px;
	max-width: 1180px;
	min-width:1140px;

/*	max-width:90%;*/
	background-color:rgba(0,0,0,0.3);
	margin: 0 auto;

}

#jumbotron_cont {
	height:423px;
	max-width: 1180px;
    position:relative;
    border-top: 7px solid white;
	
}
#title  {
	font-family: 'Raleway', sans-serif;
	

}
#title {
	color:white;
	font-size: 3.5em;
	font-weight: bold;
	padding-left: 40px;
	padding-top:25px;
	font-family: "Raleway", sans-serif;

}

#title_text {
	font-size:1.5em;
	font-weight:bold;
	padding-left:40px;
	width:755px;
	color:lightskyblue;
	font-family: 'Raleway', sans-serif;
	margin-top: -20px;
	padding-bottom:25px;
}

.pc_first {
	margin-left:70px;
}
.pc_icon_wrap {
	display:inline-block;
	width: 140px;
	height:78px;
	/*background-color:lightgray;*/
	border-radius:25px;
	list-style:none;
    
}

        



#lower_title_text_wrap {
	display:inline-block;
	width:750px;
	height:142px;
	border-color: red;
	border-radius: 0px;
	/*background-color: tomato;*/
	margin-left: 40px;

}

.lower_title_text_heading {
	color:white;
	font-family: 'Source Sans Pro';
	font-weight:bold;
	font-size: 2.0em;
}

.lower_title_text {
	font-family: 'Source Sans Pro';
	font-size:1.25em;
	color:lightskyblue;
}

.big_button_wrap {
	float:right;
	height:250px;
	width:250px;
	border: 5px white solid;
	border-radius:100%;
	background-color:rgba(13,121,222,.2);
	margin-top:-93px;
	margin-right: 35px;
}
.big_button_text {
	text-align: center;
	height:60px;
	padding-top:90px;
	padding-left:auto;
	padding-right:auto;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size:3.5em;
	color:white;
	
	margin:0 auto;
}

.firewall_container {
    height: 75px;
    width:200px;
    //background-color:red;
    color:white;
    position:absolute;
    right:7%;
    bottom:1%;
    font-family: 'Source Sans Pro';
	font-size:1em;
    font-weight:bold;
	color:cornflowerblue;
    display:inline-block;
}

.firewall_title {
    height: 20px;
    width: 200px;
    color:lightskyblue;
    background-color:blue;
    position:absolute;
    right: 0px;
}

.firewall_button_main {
    height:34px;
    width:63px;
    background-color:rgba(1,78,117, 0.9);
    border-radius:25px;
    position:relative;
    bottom:8px;
    display:inline-block;
    border: 1px solid darkslategray;
}

.firewall_button_inside {
    height:28px;
    width:28px;
    border-radius:100%;
    background-color:rgb(0,128,255);
    position:absolute;
    left:6px;
    top:2px;
    box-shadow: 3px 2px 3px darkslategray;
    display:inline-block;
    border: 1px solid darkslategray;
    
}

.firewall_text {
    height:35px;
    width:194px;
    color:steelblue;
    position:absolute;
    top:21px;
    left:71px;
    line-height:normal;
    font-weight:normal;
}
/*-------BOTTOM PART OF JUMBOTRON---------*/

#bottom_of_jumbotron {
	height:100px;
	max-width:1180px;
	background-color: lightgray;
	margin: 0 auto;
}

.bottom_text_box {
	position:relative;
	font-family: 'Raleway', sans-serif;
	display:inline-block;
	float:left;	
	padding:20px 0px 50px 15px;
	height:60px;
	width:270px;
	/*width:60%;*/

}

.greenbutton{
	/*display:inline-block;
	position:relative;
	float:left;
	clear:both;
	padding:20px 15px 15px 15px;*/

	border: 5px solid white;
    padding:6px 0px 0px 0px;
    margin-top:10px;
    background: rgba(81, 180, 45, 1); 
    /*rgba(51, 229, 31, 1) */
    
    width: 250px;
    height:60px;
    border-radius: 25px;
    list-style: none;
    margin-left:auto;
    margin-right:30px;
    margin-top:20px;
	

}
.gbutton {
	max-width:100%;
	height:auto;
	color:white;
	font-style: bold;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size: 2em;
}	

/* -------------ADDITIONAL INFO SECTION ------------- */
.header {
	text-align:center;
	clear:both;
	font-weight:bold;
	font-size: 3em;
	padding-top:50px;
	padding-bottom:40px;
	font-family: 'Raleway', sans-serif;
}

#additional_info_bottom {
	max-width:1180px;
	margin:0 auto 60px auto;
	padding-left:15px;
	font-family: 'Source Sans Pro', sans-serif;	

}

#additional_info_bottom .header {
    font-family : "Source Sans Pro";
    font-weight:300;
}



#blackbarbottom {
	max-width:1180px;
	height:150px;
	background-color:black;
	margin: 0 auto;
}

#black_bar_bottom_wrap {
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-top:40px;
	
}

#black_bar_bottom_wrap > p {
	text-align:center;
	font-size:.90em;
	font-family: 'Raleway';
	font-weight:bold;
	color:darkgrey;
}

#copywright {
	text-align:left;
	font-size:.90em;
	font-weight: bold;
	font-family: 'Source Sans Pro';
	color:green;

}



/*---- RESPONSIVE ----------------*/
	
@media screen and (max-width : 980px) {

	#gbutton {
	position:relative;	
	display:block;
	max-width:100%;
	height:auto;
	margin: 0 auto;
	
	} 

	.greenbutton {
	display:block;
	position: relative;
	margin: 0 auto;
	padding-left:auto;
	padding-right:auto;
	clear:both;
	/*padding:20px 0px 50px 15px;*/
	height:auto;
	width:100%;
	max-width:250px;
	
	
		
	}

	.bottom_text_box {
	position:relative;
	display:block;
	margin : 0 auto;
	padding-left:auto;
	padding-right:auto;
	clear:both;
	padding:20px 0px 50px 15px;
	height:60px;
	width:100%;

}

#bottom_of_jumbotron {
	height:300px;
	max-width:1180px;
	background-color: lightgray;
	margin: 0 auto;
}





