*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

#blackbar {
	background-color: black;
	height: 135px;
	padding-bottom:5px;
	/*border-bottom: 7px solid blue*/;
    position:relative;
	
}

#blackbar #logo {
	width:1180px;
	height:130px;
	margin:0 auto;	
    
}

#placeholder {
	position:absolute ;
    height: 78px;
	width: 125px;
    /*border: 2px white dotted;*/
    top: 27px;
    left: 102px;
	/*background-image: url("logo_Xangati.gif");*/
	/*background-size: cover;*/
    
}

.pure-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.subnav {
    opacity: .5        
}

.subnav:hover {
    opacity: 1.0
}


/* ------------JUMBOTRON SECTION ---------------*/

#jumbotron_container_background {
	height:423px;	
	margin: 0 auto;
    /*background-color:steelblue;*/
	background : linear-gradient(dodgerblue, black);
    background-image: url("bg_LaunchPage2.jpg");
/*	opacity: 0.9;*/
}

#jumbotron_cont_overlay {
	height:423px;
	max-width: 1180px;
	min-width:1140px;

/*	max-width:90%;*/
	background-color:rgba(0,0,0,0.3);
	margin: 0 auto;

}

#jumbotron_cont {
	height:423px;
	max-width: 1180px;
    position:relative;
    border-top: 7px solid white;
	
}
#title  {
	font-family: 'Raleway', sans-serif;
	

}
#title {
	color:white;
	font-size: 3.5em;
	font-weight: bold;
	padding-left: 20px;
	padding-top:25px;
	font-family: "Raleway", sans-serif;

}

#title_text {
	font-size:1.5em;
	font-weight:bold;
	padding-left:20px;
	width:755px;
	color:lightskyblue;
	font-family: 'Raleway', sans-serif;
	margin-top: -20px;
	padding-bottom:25px;
}

.pc_first {
	margin-left:30px;
}
.pc_icon_wrap {
    position:relative;
	display:inline-block;
	width: 115px;
	height:78px;
	text-align: center;	
    border-radius:25px;
	list-style:none;
    
    
}

.pc_icon_wrap aside {
    position:absolute;
    top: 19px;
    left:55px;
    font-family: 'Source Sans Pro';
	font-weight:bold;
	font-size: 1.25em;
    text-align:right;
    color: rgba(255,255,255,0.5);
}

#offset {
        position:absolute;
    top: 19px;
    left:65px;
}
/* ---------------Sidebar-----------*/
.sidebar {
    width:310px;
    height:416px;
    right:0;
    top:0;
    background-color:rgba(0,0,0, .5);
    position:absolute;
}

.sidebar_content {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1.5em;
    line-height: 1.15em;
    font-weight:bold;
    padding-left:30px;
    padding-top:34px;
    color:cornflowerblue;

}

.sidebar_content2 {
    padding-top:15px;
}

.buttonmaker_big {
    position:relative;
	border: 5px solid white;
    padding:6px 0px 0px 0px;
    margin-top:10px;
    background-color: green; 
    /*rgba(51, 229, 31, 1) */
    
    width: 250px;
    height:130px;
    border-radius: 15px;
    list-style: none;
    margin-left:auto;
    margin-right:30px;
    margin-top:20px;
   

}


.buttonmaker_big:hover {
    background-color: rgb(64, 224, 64);
}

.buttonmaker_sidebar{
	

	border: 5px solid white;
    padding:6px 0px 0px 0px;
    margin-top:10px;
    background: green; 
    /*rgba(51, 229, 31, 1) */
    
    width: 250px;
    height:78px;
    border-radius: 15px;
    list-style: none;
    margin-left:auto;
    margin-right:30px;
    margin-top:20px;
}

.buttonmaker_sidebar:hover {
    background-color: rgb(64, 224, 64);
}

#gbutton_big {
	max-width:100%;
	height:auto;
	color:white;
	font-style: bold;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size: 1.85em;
    padding-left:10px;
    padding-top:20px;
    line-height:1.25em;  
    display:inline-block;
    position:relative;
    
}	

#gbutton_side {
    width:250px;
	height:auto;
	color:white;
	font-style: bold;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size: 1.5em;
    padding-left:10px;
    padding-top:15px;
    line-height:1.25em;  
    display:inline-block;
    position:relative;
}

.minisubnav1 {
    
    width: 32px;
    height:30px;
    float:right;
    margin-right:20px;
    margin-top:-05px;
    
}

.minisubnav2 {
    
    width: 32px;
    height:30px;
    float:right;
    margin-right:29px;
    margin-top:-10px;
    
}

section li p {
    font-size:.25em;
    
}

/*------------------------end sidebar-----------*/

#lower_title_text_wrap {
	display:inline-block;
	width:750px;
	height:142px;
	border-color: red;
	border-radius: 0px;
	/*background-color: tomato;*/
	margin-left: 20px;

}

.lower_title_text_heading {
	color:white;
	font-family: 'Source Sans Pro';
	font-weight:bold;
	font-size: 2.0em;
}

.lower_title_text {
	font-family: 'Source Sans Pro';
	font-size:1.25em;
	color:lightskyblue;
}

.big_button_wrap {
	float:right;
	height:250px;
	width:250px;
	border: 5px white solid;
	border-radius:100%;
	background-color:rgba(13,121,222,.2);
	margin-top:-93px;
	margin-right: 35px;
}
.big_button_text {
	text-align: center;
	height:60px;
	padding-top:90px;
	padding-left:auto;
	padding-right:auto;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size:3.5em;
	color:white;
	
	margin:0 auto;
}


/* --------------FIREWALL ---------*/
.firewall_container {
    height: 75px;
    width:200px;
    //background-color:red;
    color:white;
    position:absolute;
    right:14%;
    bottom:10%;
    
    font-family: 'Source Sans Pro';
	font-size:1em;
    font-weight:bold;
	color:cornflowerblue;
    display:inline-block;
}

.firewall_title {
    height: 20px;
    width: 200px;
    color:lightskyblue;
    background-color:blue;
    position:absolute;
    right: 0px;
}

.firewall_button_main {
    height:34px;
    width:63px;
    background-color:rgba(1,78,117, 0.9);
    border-radius:25px;
    position:relative;
    bottom:8px;
    display:inline-block;
    border: 1px solid darkslategray;
    left:200px;
    
}

.firewall_button_main > p {
    margin-left:33px;
    margin-top:8px;
    font-size:.75em;
}

.firewall_button_inside {
    height:28px;
    width:28px;
    border-radius:100%;
    background-color:rgb(0,128,255);
    position:absolute;
    left:2px;
    top:2px;
    box-shadow: 3px 2px 3px darkslategray;
    display:inline-block;
    border: 1px solid darkslategray;
    
}

.firewall_text {
    height:35px;
    width:194px;
    color:steelblue;
    position:absolute;
    top:21px;
    left:0px;
    line-height:normal;
    font-weight:normal;
    font-size:0.85em;
}


/*-------BOTTOM PART OF JUMBOTRON---------*/

#bottom_of_jumbotron {
	height:145px;
	max-width:1180px;
	background-color: lightgray;
	margin: 0 auto;
}

.bottom_text_box {
	position:relative;
	font-family: 'Raleway', sans-serif;
	display:inline-block;
	float:left;	
	padding:20px 0px 50px 20px;
	height:60px;
	width:270px;
    font-size:.95em;
	/*width:60%;*/

}

.line {
    border-right: 1px gray solid;
    padding-bottom:50px;
    margin-top:10px;
}

.line2 {
    margin-top:10px;
}

.buttonmaker{
	/*display:inline-block;
	position:relative;
	float:left;
	clear:both;
	padding:20px 15px 15px 15px;*/

	border: 5px solid white;
    padding:6px 0px 0px 0px;
    margin-top:10px;
    background: rgba(62,133,168, 1); 
    /*rgba(51, 229, 31, 1) */
    
    width: 250px;
    height:60px;
    border-radius: 15px;
    list-style: none;
    margin-left:auto;
    margin-right:30px;
    margin-top:20px;

}

.gbutton {
	max-width:100%;
	height:auto;
	color:white;
	font-style: bold;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size: 2em;
}	


/* -------------ADDITIONAL INFO SECTION ------------- */
.additional_info {
	text-align:center;
	clear:both;
	font-weight:bold;
	font-size: 3em;
	padding-top:50px;
	padding-bottom:40px;
	font-family: 'Raleway', sans-serif;
}

#additional_info_bottom {
	max-width:1180px;
	margin:0 auto 30px auto;
	padding-left:15px;
	font-family: 'Source Sans Pro', sans-serif;	

}

#additional_info_bottom .header {
    font-family : "Source Sans Pro";
    font-weight:300;
}



#blackbarbottom {
	max-width:100%;
	height:99px;
	background-color:black;
	margin: 0 auto;
}

#black_bar_bottom_wrap {
	max-width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
	
}

#black_bar_bottom_wrap > p {
	text-align:center;
	font-size:.90em;
	font-family: 'Raleway';
	font-weight:normal;
	color:darkgrey;
}

#copywright {
	text-align:left;
	font-size:.90em;
	font-weight: bold;
	font-family: 'Source Sans Pro';
	color:green;

}



/*---- RESPONSIVE ----------------*/
	
@media screen and (max-width : 980px) {

	#gbutton {
	position:relative;	
	display:block;
	max-width:100%;
	height:auto;
	margin: 0 auto;
	
	} 

	.greenbutton {
	display:block;
	position: relative;
	margin: 0 auto;
	padding-left:auto;
	padding-right:auto;
	clear:both;
	/*padding:20px 0px 50px 15px;*/
	height:auto;
	width:100%;
	max-width:250px;
	
	
		
	}

	.bottom_text_box {
	position:relative;
	display:block;
	margin : 0 auto;
	padding-left:auto;
	padding-right:auto;
	clear:both;
	padding:20px 0px 50px 15px;
	height:60px;
	width:100%;

}

#bottom_of_jumbotron {
	height:300px;
	max-width:1180px;
	background-color: lightgray;
	margin: 0 auto;
}





